<section id="progress" class="pd-t-30 pd-b-30">
  <h3 class="text-uppercase">Tooltips</h3>
  <hr>

  <p>Progress bars are created using Bootstrap Native Progress bars, they will work as the same way how it works in bootstrap, but it is styled to wired color scheme.</p>
  <a href="http://getbootstrap.com/javascript/#tooltips" target="_blank" class="btn btn-primary">Bootstrap Tooltip Guides</a>
  <br/><br/>
  <h5>Colors</h5>
  <p>Use the same contextual classes introduced in Bootstrap</p>
  <p><code class="nohighlight">tooltip-primary</code></p>
  <p><code class="nohighlight">tooltip-success</code></p>
  <p><code class="nohighlight">tooltip-complete</code></p>
  <p><code class="nohighlight">tooltip-warning</code></p>
  <p><code class="nohighlight">tooltip-danger</code></p>
  <br><br>
  <div class="wd-example">  
    <div class="example"> 
      <h5 class="mg-b-15">Example</h5>
      <div class="text-center">
        <button class="btn btn-default tooltip-primary" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on Left</button>
        <button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on Top">Tooltip on Top</button>
        <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip on Bottom">Tooltip on Bottom</button>
        <button class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on Right">Tooltip on Right</button>
      </div>
    </div>
<pre>
<code><button class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on Left</button>

<button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on Top">Tooltip on Top</button>

<button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip on Bottom">Tooltip on Bottom</button>

<button class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on Right">Tooltip on Right</button>
</code>
</pre>
  </div>
  
</section>